@import './variables.scss';


html {
    @import url('https://fonts.googleapis.com/css?family=Karla');
    font-family: 'Karla', sans-serif;
}

body {
    margin: 0;
    background-color: $background-color;
    color: $text-color;
}

a {
    color: $text-color;
    -webkit-tap-highlight-color: transparent;
}