@import './variables.scss';

header {

    font-size: 24px;
    text-align: right;
    color: $text-color;
    background-color: $background-color;

    .ids-header {
        max-width: 40rem;
        padding: 1.5rem;
        margin: auto;

        display: flex;
        align-items: flex-end;
        flex-direction: column;

        .bars {
            align-self: flex-end;
            cursor: pointer;
        }

        .links {
            display: flex;
            flex-direction: column;

            .header-item {
                padding: .25em 0px;

                a {
                    text-decoration: none;
                    color: $background-color;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }




    &.open {
        
        @include ids-gradient-bg;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        color: $background-color;

        .header-item {
            color: $background-color;
        }
    }
}