@import './include-media.scss';

.ids-offerings {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    color: white;

    .welcome {
        font-size: 24px;
    }

    .feed {
        width: 100%;
        min-height: 150px;

        .offering {
            margin-top: 20px;
            .name {
                font-weight: bold;
            }

            &-text {
                margin-top: 15px;
            }

            &-text {
                padding: 15px 25px;
            
                color: white;
    
                border: 3px solid white;
                border-radius: 5px;
            }

            p {
                margin: 0;
            }



            .actions-row {
                display: flex;
                justify-content: flex-end;
                cursor: pointer;

                text-align: right;

                .action {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}