@import './variables.scss';

.ids-offerings {
    .welcome {
        text-align: center;
    }

    .feed {
        .offering {
            margin-top: 20px;

            @include ids-gradient-bg;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;  /* <- here it is */

            padding: 15px;
            border-radius: 3px;

            .offering-text {
                background: $background-color;
                margin-top: 15px;

                padding: 10px;

                p {
                    margin: 0;
                }
            }

            .actions-row {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                margin-top: 20px;

                .action {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}