@import './variables.scss';

.ids-login {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .social-login {
        cursor: pointer;

        @include ids-gradient-transparent-bg;
        padding: 2px;

        font-size: 1em;
        border-radius: 15px;

        max-width: 100%;

        margin-top: 20px;

        .social-login-box {
            background-color: $background-color;

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 10px 20px;
            border-radius: 15px;

            transition: background .3s ease;

            &:hover {
                background: transparent;
            }
        }

        .social-icon {
            margin-right: 15px;
        }
    }
}